* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url("https://wallpapercave.com/wp/wp4701017.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: row;
}

.emptytop {
  height: 30px;
}

.left {
  display: flex;
  width: 10%;
  height: 100px;
}

.center {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  gap: 20px;
}

.titlebox {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.title {
  font-family: arial;
  margin: auto;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 22px;
}

.roundedbox {
  background: white;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 17%;
}

.paddingvertical {
  padding-top: 4px;
  padding-bottom: 4px;
}

.paddinghorizontal {
  padding-left: 4px;
  padding-right: 4px;
}

.right {
  width: 10%;
  height: 100px;
}
