* {
  margin: 0;
  padding: 0;
  font-family: Copperplate;
}

body {

}

#headerbar {
  width: 100%;
  height: 100px;
  top: 20px;
  margin-left: 0;
  background-color: #66B2FF;
  position: sticky;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

#navbarrow1 {
  display: flex;
  flex-direction: row;
  width: 900px;
  margin-bottom: 0;
  height: 75px;
}

#navbarrow2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 35px;
  margin-top: 0;
}

#insideheaderbar {
  width: 900px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 0;
}

#headerlogoimage {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 30px;
}

#headertitle {
  width: 710px;
  height: 70px;
}

#headertitle h1 {
  color: white;
  font-weight: normal;
  font-size: 50px;
  margin-top: 20px;
  text-shadow: 0 2px 3px rgba(0,0,0,0.5);
}

#navbaricon {
  height: 70px;
}

#headerdropdownicon {
  margin-top: 30px;
  margin-right: 30px;
  width: 40px;
}

#headerbarnavdropdown {
  margin-top: 0px;
}

.nav {
    display: none;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-left: 15px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.nav:hover {
    color: #ffff66;
}

#mainwindow {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: 500px;
  clear: both;
}

h1 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}

#footerbar {
  background-color: lightgray;
  height: 30px;
  padding-top: 10px;
}

#footertext {
  text-align: center;
}

@media (max-width: 899px)
{
  #headerbar {
    height: 70px;
    width: 100%;
  }

  #insideheaderbar {
    width: 100%;
  }

  #navbarrow1 {
    justify-content: space-space-between;
    width: 100%;
    height: 50px;
  }

  #navbarrow2 {
    padding-right: 22px;
  }

  #headerlogoimage {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
  }

  #headertitle {
    height: 50px;
    width: 400px;
  }

  #headertitle h1 {
    font-size: 30px;
    margin-top: 15px;
  }

  #navbaricon {
    height: 40px;
    margin-left: auto;
  }

  #headerdropdownicon {
    margin-top: 17px;
    margin-right: 20px;
    margin-left: 200px;
    width: 30px;
  }

  #headerbarnavdropdown {
    margin-top: 0px;
  }

  .nav {
      display: none;
      color: white;
      text-decoration: none;
      font-size: 15px;
      padding-left: 5px;
      text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  }

  h1 {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 0.8em;
  }

  p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.8em;
  }

  #mainwindow {
    width: 100%;
    margin-top: 40px;
  }
}
