body {
  font-family: Optima;
}

/* wrapping the whole website in 95% of the viewport */
#wrapper {
  width: 90%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

/* wrapping the headertitle and the nav in a div with flex display */
#headerblock {
  background-color: white;
  height: 60px;
}
#header {
  float: left;
  box-sizing: border-box;
  height: 60px;
  margin-left: 0px;
  background-color: white;
}
#navmenu {
  float: right;
  box-sizing: border-box;
  line-height: 50px;
  height: 60px;
  margin-right: 0px;
  background-color: white;
  padding: 5px;
}
#navmenutext {
  padding-right: 20px;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 60px;
  font-style: normal;
  list-style: none;
  display: inline
}
/* Styles */
h1 {
  font-size: 40px;
  font-weight: bold;
  color: #78B3EB;
  padding: 0px;
  margin: 0px;
}
/* hyperlinks */
a {
  text-decoration: none;
}
a:active {
  color: #78B3EB;
}
a:hover {
  color: #78B3EB;
}
a:link {
  color: black;
}
a:visited {
  color: #78B3EB;
}
.normal {
  font-weight: normal;
}
